.product{
    display: grid;
    grid-template-columns: auto ;
    margin: 10px;
    row-gap: 10px;
 
   
    
    img{
        height: 240px;
        width:300px;
        border-radius: 10px;
    }
    
}
